openapi: 3.0.3
info:
  contact:
    email: hello@merge.dev
    name: Merge Team
    url: https://www.merge.dev/
  description: The unified API for building rich integrations with multiple Ticketing
    platforms.
  title: Merge Ticketing API
  version: "1.0"
servers:
- description: Production
  url: https://api.merge.dev/api/ticketing/v1
- description: Sandbox
  url: https://api-sandbox.merge.dev/api/ticketing/v1
paths:
  /account-details:
    get:
      description: Get details for a linked account.
      operationId: account_details_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
      security:
      - tokenAuth: []
      tags:
      - account-details
  /account-token/{public_token}:
    get:
      description: Returns the account token for the end user with the provided public
        token.
      operationId: account_token_retrieve
      parameters:
      - explode: false
        in: path
        name: public_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountToken'
      security:
      - tokenAuth: []
      tags:
      - account-token
  /accounts:
    get:
      description: Returns a list of `Account` objects.
      operationId: accounts_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccountList'
      security:
      - tokenAuth: []
      tags:
      - accounts
  /accounts/{id}:
    get:
      description: Returns an `Account` object with the given `id`.
      operationId: accounts_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      security:
      - tokenAuth: []
      tags:
      - accounts
  /attachments:
    get:
      description: Returns a list of `Attachment` objects.
      operationId: attachments_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: If provided, will only return comments for this ticket.
        examples:
          TicketId:
            summary: ticket_id
        explode: true
        in: query
        name: ticket_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAttachmentList'
      security:
      - tokenAuth: []
      tags:
      - attachments
    post:
      description: Creates an `Attachment` object with the given values.
      operationId: attachments_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketingAttachmentEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TicketingAttachmentEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TicketingAttachmentEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketingAttachmentResponse'
      security:
      - tokenAuth: []
      tags:
      - attachments
  /attachments/{id}:
    get:
      description: Returns an `Attachment` object with the given `id`.
      operationId: attachments_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
      security:
      - tokenAuth: []
      tags:
      - attachments
  /attachments/meta/post:
    get:
      description: Returns metadata for `TicketingAttachment` POSTs.
      operationId: attachments_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - attachments
  /available-actions:
    get:
      description: Returns a list of models and actions available for an account.
      operationId: available_actions_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableActions'
      security:
      - tokenAuth: []
      tags:
      - available-actions
  /comments:
    get:
      description: Returns a list of `Comment` objects.
      operationId: comments_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: If provided, will only return comments for this ticket.
        examples:
          TicketId:
            summary: ticket_id
        explode: true
        in: query
        name: ticket_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCommentList'
      security:
      - tokenAuth: []
      tags:
      - comments
    post:
      description: Creates a `Comment` object with the given values.
      operationId: comments_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CommentEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CommentEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentResponse'
      security:
      - tokenAuth: []
      tags:
      - comments
  /comments/{id}:
    get:
      description: Returns a `Comment` object with the given `id`.
      operationId: comments_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
      security:
      - tokenAuth: []
      tags:
      - comments
  /comments/meta/post:
    get:
      description: Returns metadata for `Comment` POSTs.
      operationId: comments_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - comments
  /contacts:
    get:
      description: Returns a list of `Contact` objects.
      operationId: contacts_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedContactList'
      security:
      - tokenAuth: []
      tags:
      - contacts
  /contacts/{id}:
    get:
      description: Returns a `Contact` object with the given `id`.
      operationId: contacts_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
      security:
      - tokenAuth: []
      tags:
      - contacts
  /delete-account:
    post:
      description: Delete a linked account.
      operationId: delete_account_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: No response body
      security:
      - tokenAuth: []
      tags:
      - delete-account
  /generate-key:
    post:
      description: Create a remote key.
      operationId: generate_key_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      security:
      - tokenAuth: []
      tags:
      - generate-key
  /issues:
    get:
      description: Gets issues.
      operationId: issues_list
      parameters:
      - explode: true
        in: query
        name: account_token
        required: false
        schema:
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: If included, will only include issues whose most recent action
          occurred before this time
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: end_user_organization_name
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return issues whose first incident time
          was after this datetime.
        explode: true
        in: query
        name: first_incident_time_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return issues whose first incident time
          was before this datetime.
        explode: true
        in: query
        name: first_incident_time_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If True, will include muted issues
        explode: true
        in: query
        name: include_muted
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: integration_name
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return issues whose first incident time
          was after this datetime.
        explode: true
        in: query
        name: last_incident_time_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return issues whose first incident time
          was before this datetime.
        explode: true
        in: query
        name: last_incident_time_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: If included, will only include issues whose most recent action
          occurred after this time
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - ONGOING
          - RESOLVED
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedIssueList'
      security:
      - tokenAuth: []
      tags:
      - issues
  /issues/{id}:
    get:
      description: Get a specific issue.
      operationId: issues_retrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
      security:
      - tokenAuth: []
      tags:
      - issues
  /link-token:
    post:
      description: Creates a link token to be used when linking a new end user.
      operationId: link_token_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndUserDetailsRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EndUserDetailsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EndUserDetailsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkToken'
      security:
      - tokenAuth: []
      tags:
      - link-token
  /linked-accounts:
    get:
      description: List linked accounts for your organization.
      operationId: linked_accounts_list
      parameters:
      - explode: true
        in: query
        name: category
        required: false
        schema:
          enum:
          - accounting
          - ats
          - crm
          - hris
          - ticketing
          nullable: true
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return linked accounts associated with
          the given email address.
        explode: true
        in: query
        name: end_user_email_address
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return linked accounts associated with
          the given organization name.
        explode: true
        in: query
        name: end_user_organization_name
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return linked accounts associated with
          the given origin ID.
        explode: true
        in: query
        name: end_user_origin_id
        required: false
        schema:
          type: string
        style: form
      - description: Comma-separated list of EndUser origin IDs, making it possible
          to specify multiple EndUsers at once.
        explode: true
        in: query
        name: end_user_origin_ids
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Comma-separated list of LinkedAccount IDs, making it possible
          to specify multiple LinkedAccounts at once.
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: If `true`, will include complete production duplicates of the
          account specified by the `id` query parameter in the response. `id` must
          be for a complete production linked account.
        explode: true
        in: query
        name: include_duplicates
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return linked accounts associated with
          the given integration name.
        explode: true
        in: query
        name: integration_name
        required: false
        schema:
          type: string
        style: form
      - description: If included, will only include test linked accounts. If not included,
          will only include non-test linked accounts.
        explode: true
        in: query
        name: is_test_account
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: 'Filter by status. Options: `COMPLETE`, `INCOMPLETE`, `RELINK_NEEDED`'
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccountDetailsAndActionsList'
      security:
      - tokenAuth: []
      tags:
      - linked-accounts
  /passthrough:
    post:
      description: Pull data from an endpoint not currently supported by Merge.
      operationId: passthrough_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
      security:
      - tokenAuth: []
      tags:
      - passthrough
  /projects:
    get:
      description: Returns a list of `Project` objects.
      operationId: projects_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProjectList'
      security:
      - tokenAuth: []
      tags:
      - projects
  /projects/{id}:
    get:
      description: Returns a `Project` object with the given `id`.
      operationId: projects_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
      security:
      - tokenAuth: []
      tags:
      - projects
  /projects/{id}/users:
    get:
      description: Returns a `User` object with the given `id`.
      operationId: projects_users_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUserList'
      security:
      - tokenAuth: []
      tags:
      - projects
  /regenerate-key:
    post:
      description: Exchange remote keys.
      operationId: regenerate_key_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      security:
      - tokenAuth: []
      tags:
      - regenerate-key
  /sync-status:
    get:
      description: 'Get syncing status. Possible values: `DISABLED`, `DONE`, `FAILED`,
        `PAUSED`, `SYNCING`'
      operationId: sync_status_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSyncStatusList'
      security:
      - tokenAuth: []
      tags:
      - sync-status
  /sync-status/resync:
    post:
      description: Force re-sync of all models. This is only available for organizations
        on Merge's Grow and Expand plans.
      operationId: sync_status_resync_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SyncStatus'
                type: array
      security:
      - tokenAuth: []
      tags:
      - force-resync
  /tags:
    get:
      description: Returns a list of `Tag` objects.
      operationId: tags_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTagList'
      security:
      - tokenAuth: []
      tags:
      - tags
  /tags/{id}:
    get:
      description: Returns a `Tag` object with the given `id`.
      operationId: tags_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
      security:
      - tokenAuth: []
      tags:
      - tags
  /teams:
    get:
      description: Returns a list of `Team` objects.
      operationId: teams_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTeamList'
      security:
      - tokenAuth: []
      tags:
      - teams
  /teams/{id}:
    get:
      description: Returns a `Team` object with the given `id`.
      operationId: teams_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
      security:
      - tokenAuth: []
      tags:
      - teams
  /tickets:
    get:
      description: Returns a list of `Ticket` objects.
      operationId: tickets_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return tickets for this account.
        examples:
          AccountId:
            summary: account_id
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: If provided, will only return tickets for this project.
        examples:
          ProjectId:
            summary: project_id
        explode: true
        in: query
        name: project_id
        required: false
        schema:
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          RemoteFieldsStatus:
            summary: Remote Fields Status
            value: status
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - status
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTicketList'
      security:
      - tokenAuth: []
      tags:
      - tickets
    post:
      description: Creates a `Ticket` object with the given values.
      operationId: tickets_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TicketEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TicketEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResponse'
      security:
      - tokenAuth: []
      tags:
      - tickets
  /tickets/{id}:
    get:
      description: Returns a `Ticket` object with the given `id`.
      operationId: tickets_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          RemoteFieldsStatus:
            summary: Remote Fields Status
            value: status
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - status
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
      security:
      - tokenAuth: []
      tags:
      - tickets
    patch:
      operationId: tickets_partial_update
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedTicketEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedTicketEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedTicketEndpointRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResponse'
      security:
      - tokenAuth: []
      tags:
      - tickets
  /tickets/{id}/collaborators:
    get:
      description: Returns a `User` object with the given `id`.
      operationId: tickets_collaborators_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUserList'
      security:
      - tokenAuth: []
      tags:
      - tickets
  /tickets/meta/patch/{id}:
    get:
      description: Returns metadata for `Ticket` PATCHs.
      operationId: tickets_meta_patch_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - tickets
  /tickets/meta/post:
    get:
      description: Returns metadata for `Ticket` POSTs.
      operationId: tickets_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - tickets
  /users:
    get:
      description: Returns a list of `User` objects.
      operationId: users_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUserList'
      security:
      - tokenAuth: []
      tags:
      - users
  /users/{id}:
    get:
      description: Returns a `User` object with the given `id`.
      operationId: users_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      security:
      - tokenAuth: []
      tags:
      - users
  /webhook-receivers:
    get:
      description: Returns a list of `WebhookReceiver` objects.
      operationId: webhook_receivers_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/WebhookReceiver'
                type: array
      security:
      - tokenAuth: []
      tags:
      - webhook-receivers
    post:
      description: Creates a `WebhookReceiver` object with the given values.
      operationId: webhook_receivers_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookReceiverRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/WebhookReceiverRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/WebhookReceiverRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookReceiver'
      security:
      - tokenAuth: []
      tags:
      - webhook-receivers
components:
  schemas:
    Account:
      description: |-
        # The Account Object
        ### Description
        The `Account` object is used to represent the account that a ticket is associated with.

        The account is a company that may be a customer. This does not represent the company that is receiving the ticket.

        ### Usage Example
        TODO
      example:
        remote_id: "19202938"
        name: Waystar Royco
        domains:
        - waystar-royco.com
        - royco.com
        id: 17a54124-287f-494d-965e-3c5b330c9a68
        remote_was_deleted: true
        remote_data:
        - path: path
          data:
            key: ""
        - path: path
          data:
            key: ""
      properties:
        id:
          example: 17a54124-287f-494d-965e-3c5b330c9a68
          format: uuid
          readOnly: true
          type: string
        remote_id:
          description: The third-party API ID of the matching object.
          example: "19202938"
          nullable: true
          type: string
        name:
          description: The account's name.
          example: Waystar Royco
          nullable: true
          type: string
        domains:
          description: The account's domain names.
          example:
          - waystar-royco.com
          - royco.com
          items:
            nullable: true
            type: string
          nullable: true
          type: array
        remote_data:
          items:
            $ref: '#/components/schemas/RemoteData'
          nullable: true
          readOnly: true
          type: array
        remote_was_deleted:
          description: Indicates whether or not this object has been deleted by third
            party webhooks.
          type: boolean
      type: object
      x-merge-expands: '{"owner": "User"}'
      x-merge-category: ticketing
    AccountDetails:
      example:
        integration: BambooHR
        end_user_organization_name: Waystar Royco
        end_user_email_address: kendall.roy@waystar-royco.com
        id: 0496d4c2-42e6-4072-80b3-7b69bfdc76fd
        category: hris
        is_duplicate: true
        end_user_origin_id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        integration_slug: bamboohr
        status: COMPLETE
        webhook_listener_url: https://api.merge.dev/api/integrations/webhook-listener/7fc3mee0UW8ecV4
      properties:
        id:
          example: 0496d4c2-42e6-4072-80b3-7b69bfdc76fd
          format: uuid
          readOnly: true
          type: string
        integration:
          example: BambooHR
          readOnly: true
          type: string
        integration_slug:
          example: bamboohr
          readOnly: true
          type: string
        category:
          allOf:
          - $ref: '#/components/schemas/CategoryEnum'
          example: hris
          nullable: true
        end_user_origin_id:
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
          readOnly: true
          type: string
        end_user_organization_name:
          example: Waystar Royco
          readOnly: true
          type: string
        end_user_email_address:
          example: kendall.roy@waystar-royco.com
          format: email
          readOnly: true
          type: string
        status:
          example: COMPLETE
          readOnly: true
          type: string
        webhook_listener_url:
          example: https://api.merge.dev/api/integrations/webhook-listener/7fc3mee0UW8ecV4
          format: uri
          readOnly: true
          type: string
        is_duplicate:
          description: Whether a Production Linked Account's credentials match another
            existing Production Linked Account. This field is `null` for Test Linked
            Accounts, incomplete Production Linked Accounts, and ignored duplicate
            Production Linked Account sets.
          example: true
          nullable: true
          readOnly: true
          type: boolean
      type: object
      x-merge-category: ticketing
    AccountDetailsAndActions:
      description: |-
        # The LinkedAccount Object
        ### Description
        The `LinkedAccount` object is used to represent an end user's link with a specific integration.

        ### Usage Example
        View a list of your organization's `LinkedAccount` objects.
      example:
        end_user_organization_name: Foo Bar, LLC
        integration:
          image: image
          available_model_operations:
          - supported_fields:
            - first_name
            - last_name
            - company
            - title
            model_name: Candidate
            required_post_parameters:
            - remote_user_id
            available_operations:
            - FETCH
            - CREATE
          - supported_fields:
            - first_name
            - last_name
            - company
            - title
            model_name: Candidate
            required_post_parameters:
            - remote_user_id
            available_operations:
            - FETCH
            - CREATE
          color: color
          name: name
          square_image: square_image
          categories:
          - null
          - null
          slug: slug
          passthrough_available: true
        end_user_email_address: hradmin@foobar.dev
        id: e59b1821-f85c-4e28-a6b3-1804156f3563
        category: hris
        is_duplicate: true
        end_user_origin_id: 3ac95cde-6c7f-4eef-afec-be710b42308d
        status: COMPLETE
        status_detail: status_detail
        webhook_listener_url: https://api.merge.dev/api/integrations/webhook-listener/7fc3mee0UW8ecV4
      properties:
        id:
          example: e59b1821-f85c-4e28-a6b3-1804156f3563
          type: string
        category:
          allOf:
          - $ref: '#/components/schemas/CategoryEnum'
          example: hris
        status:
          allOf:
          - $ref: '#/components/schemas/AccountDetailsAndActionsStatusEnum'
          example: COMPLETE
        status_detail:
          type: string
        end_user_origin_id:
          example: 3ac95cde-6c7f-4eef-afec-be710b42308d
          type: string
        end_user_organization_name:
          example: Foo Bar, LLC
          type: string
        end_user_email_address:
          example: hradmin@foobar.dev
          type: string
        webhook_listener_url:
          example: https://api.merge.dev/api/integrations/webhook-listener/7fc3mee0UW8ecV4
          type: string
        is_duplicate:
          description: Whether a Production Linked Account's credentials match another
            existing Production Linked Account. This field is `null` for Test Linked
            Accounts, incomplete Production Linked Accounts, and ignored duplicate
            Production Linked Account sets.
          example: true
          nullable: true
          type: boolean
        integration:
          $ref: '#/components/schemas/AccountDetailsAndActionsIntegration'
      required:
      - end_user_email_address
      - end_user_organization_name
      - id
      - status
      - webhook_listener_url
      type: object
      x-merge-sample-json: '{"id": "e59b1821-f85c-4e28-a6b3-1804156f3563", "category":
        "hris", "status": "COMPLETE", "status_detail": null, "end_user_origin_id":
        "3ac95cde-6c7f-4eef-afec-be710b42308d", "end_user_organization_name": "Foo
        Bar, LLC", "end_user_email_address": "hradmin@foobar.dev", "webhook_listener_url":
        "https://api.merge.dev/api/integrations/webhook-listener/7fc3mee0UW8ecV4",
        "is_duplicate": true, "integration": {"name": "SAP SuccessFactors", "categories":
        ["hris", "ats"], "image": "https://cdn.merge.dev/SuccessFactors_Logo.png",
        "square_image": "https://cdn.merge.dev/SuccessFactors_Square_Logo.jpg", "color":
        "#F6A704", "slug": "sap-successfactors", "passthrough_available": true, "available_model_operations":
        [{"model_name": "Candidate", "available_operations": ["FETCH", "CREATE"],
        "required_post_parameters": ["remote_user_id"], "supported_fields": ["first_name",
        "last_name", "company", "title"]}]}}'
      x-merge-category: ticketing
    AccountDetailsAndActionsIntegration:
      example:
        image: image
        available_model_operations:
        - supported_fields:
          - first_name
          - last_name
          - company
          - title
          model_name: Candidate
          required_post_parameters:
          - remote_user_id
          available_operations:
          - FETCH
          - CREATE
        - supported_fields:
          - first_name
          - last_name
          - company
          - title
          model_name: Candidate
          required_post_parameters:
          - remote_user_id
          available_operations:
          - FETCH
          - CREATE
        color: color
        name: name
        square_image: square_image
        categories:
        - null
        - null
        slug: slug
        passthrough_available: true
      properties:
        name:
          type: string
        categories:
          items:
            $ref: '#/components/schemas/CategoriesEnum'
          type: array
        image:
          type: string
        square_image:
          type: string
        color:
          type: string
        slug:
          type: string
        passthrough_available:
          type: boolean
        available_model_operations:
          items:
            $ref: '#/components/schemas/ModelOperation'
          type: array
      required:
      - categories
      - color
      - name
      - passthrough_available
      - slug
      type: object
      x-merge-category: ticketing
    AccountDetailsAndActionsStatusEnum:
      enum:
      - COMPLETE
      - INCOMPLETE
      - RELINK_NEEDED
      type: string
      x-merge-category: ticketing
    AccountIntegration:
      example:
        image: https://openapi-generator.tech
        color: color
        name: name
        square_image: https://openapi-generator.tech
        categories:
        - null
        - null
        slug: slug
      properties:
        name:
          description: Company name.
          type: string
        categories:
          description: 'Category or categories this integration belongs to. Multiple
            categories should be comma separated.<br/><br>Example: For [ats, hris],
            enter <i>ats,hris</i>'
          items:
            $ref: '#/components/schemas/CategoriesEnum'
          type: array
        image:
          description: Company logo in rectangular shape. <b>Upload an image with
            a clear background.</b>
          format: uri
          nullable: true
          type: string
        square_image:
          description: Company logo in square shape. <b>Upload an image with a white
            background.</b>
          format: uri
          nullable: true
          type: string
        color:
          description: The color of this integration used for buttons and text throughout
            the app and landing pages. <b>Choose a darker, saturated color.</b>
          maxLength: 18
          pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
          type: string
        slug:
          readOnly: true
          type: string
      required:
      - name
      type: object
      x-merge-category: ticketing
    AccountToken:
      example:
        account_token: T9klMDQrcHdm9jrtHuOS2Nf06BIHwMNjpPXPMB
        integration:
          image: https://openapi-generator.tech
          color: color
          name: name
          square_image: https://openapi-generator.tech
          categories:
          - null
          - null
          slug: slug
      properties:
        account_token:
          example: T9klMDQrcHdm9jrtHuOS2Nf06BIHwMNjpPXPMB
          type: string
        integration:
          $ref: '#/components/schemas/AccountIntegration'
      required:
      - account_token
      - integration
      type: object
      x-merge-category: ticketing
    Attachment:
      description: |-
        # The Attachment Object
        ### Description
        The `Attachment` object is used to represent an attachment for a ticket.

        ### Usage Example
        TODO
      example:
        file_url: http://alturl.com/p749b
        uploaded_by: 28b54125-287f-494d-965e-3c5b330c9a68
        ticket: 0958cbc6-6040-430a-848e-aafacbadf4ae
        content_type: jpeg
        file_name: Screenshot.png
        remote_id: "19202938"
        id: 17a54124-287f-494d-965e-3c5b330c9a68
        remote_was_deleted: true
        remote_created_at: 2022-11-10T00:00:00Z
        remote_data:
        - path: path
          data:
            key: ""
        - path: path
          data:
            key: ""
      properties:
        id:
          example: 17a54124-287f-494d-965e-3c5b330c9a68
          format: uuid
          readOnly: true
          type: string
        remote_id:
          description: The third-party API ID of the matching object.
          example: "19202938"
          nullable: true
          type: string
        file_name:
          description: The attachment's name.
          example: Screenshot.png
          nullable: true
          type: string
        ticket:
          example: 0958cbc6-6040-430a-848e-aafacbadf4ae
          format: uuid
          nullable: true
          type: string
          x-merge-expands-to: Ticket
        file_url:
          description: The attachment's url.
          example: http://alturl.com/p749b
          nullable: true
          type: string
        content_type:
          description: The attachment's file format.
          example: jpeg
          nullable: true
          type: string
        uploaded_by:
          example: 28b54125-287f-494d-965e-3c5b330c9a68
          format: uuid
          nullable: true
          type: string
        remote_created_at:
          description: When the third party's attachment was created.
          example: 2022-11-10T00:00:00Z
          format: date-time
          nullable: true
          type: string
        remote_data:
          items:
            $ref: '#/components/schemas/RemoteData'
          nullable: true
          readOnly: true
          type: array
        remote_was_deleted:
          readOnly: true
          type: boolean
      type: object
      x-merge-expands: '{"ticket": "Ticket"}'
      x-merge-category: ticketing
    AttachmentRequest:
      description: |-
        # The Attachment Object
        ### Description
        The `Attachment` object is used to represent an attachment for a ticket.

        ### Usage Example
        TODO
      example:
        file_url: http://alturl.com/p749b
        uploaded_by: 28b54125-287f-494d-965e-3c5b330c9a68
        ticket: 0958cbc6-6040-430a-848e-aafacbadf4ae
        content_type: jpeg
        file_name: Screenshot.png
        remote_id: "19202938"
        remote_created_at: 2022-11-10T00:00:00Z
      properties:
        remote_id:
          description: The third-party API ID of the matching object.
          example: "19202938"
          nullable: true
          type: string
        file_name:
          description: The attachment's name.
          example: Screenshot.png
          nullable: true
          type: string
        ticket:
          example: 0958cbc6-6040-430a-848e-aafacbadf4ae
          format: uuid
          nullable: true
          type: string
        file_url:
          description: The attachment's url.
          example: http://alturl.com/p749b
          nullable: true
          type: string
        content_type:
          description: The attachment's file format.
          example: jpeg
          nullable: true
          type: string
        uploaded_by:
          example: 28b54125-287f-494d-965e-3c5b330c9a68
          format: uuid
          nullable: true
          type: string
        remote_created_at:
          description: When the third party's attachment was created.
          example: 2022-11-10T00:00:00Z
          format: date-time
          nullable: true
          type: string
      type: object
      x-merge-category: ticketing
    AvailableActions:
      description: |-
        # The AvailableActions Object
        ### Description
        The `Activity` object is used to see all available model/operation combinations for an integration.

        ### Usage Example
        Fetch all the actions available for the `Zenefits` integration.
      example:
        available_model_operations:
        - model_name: Candidate
          available_operations:
          - FETCH
          - CREATE
          required_post_parameters:
          - remote_user_id
          supported_fields:
          - first_name
          - last_name
          - company
          - title
        integration:
          image: https://openapi-generator.tech
          color: color
          name: name
          square_image: https://openapi-generator.tech
          categories:
          - null
          - null
          slug: slug
        passthrough_available: true
      properties:
        integration:
          $ref: '#/components/schemas/AccountIntegration'
        passthrough_available:
          example: true
          type: boolean
        available_model_operations:
          example:
          - model_name: Candidate
            available_operations:
            - FETCH
            - CREATE
            required_post_parameters:
            - remote_user_id
            supported_fields:
            - first_name
            - last_name
            - company
            - title
          items:
            $ref: '#/components/schemas/ModelOperation'
          type: array
      required:
      - integration
      - passthrough_available
      type: object
      x-merge-category: ticketing
    CategoriesEnum:
      enum:
      - hris
      - ats
      - accounting
      - ticketing
      - crm
      type: string
      x-merge-category: ticketing
    CategoryEnum:
      enum:
      - hris
      - ats
      - accounting
      - ticketing
      - crm
      type: string
      x-merge-category: ticketing
    Comment:
      description: |-
        # The Comment Object
        ### Description
        The `Comment` object is used to represent a comment on a ticket.

        ### Usage Example
        TODO
      example:
        is_private: true
        ticket: fb8c55b6-1cb8-4b4c-9fb6-17924231619d
        html_body: When will these integrations be done? You all should use <b>Merge<b>.
        remote_id: "19202938"
        contact: dde3fb16-b8eb-483d-81c4-b78100816f15
        id: 0958cbc6-6040-430a-848e-aafacbadf4ae
        remote_was_deleted: true
        body: When will these integrations be done? You all should use Merge.
        remote_created_at: 1990-11-10T00:00:00Z
        user: 17a54124-287f-494d-965e-3c5b330c9a68
        remote_data:
        - path: path
          data:
            key: ""
        - path: path
          data:
            key: ""
      properties:
        id:
          example: 0958cbc6-6040-430a-848e-aafacbadf4ae
          format: uuid
          readOnly: true
          type: string
        remote_id:
          description: The third-party API ID of the matching object.
          example: "19202938"
          nullable: true
          type: string
        user:
          example: 17a54124-287f-494d-965e-3c5b330c9a68
          format: uuid
          nullable: true
          type: string
          x-merge-expands-to: User
        contact:
          example: dde3fb16-b8eb-483d-81c4-b78100816f15
          format: uuid
          nullable: true
          type: string
          x-merge-expands-to: Contact
        body:
          description: The comment's text body.
          example: When will these integrations be done? You all should use Merge.
          nullable: true
          type: string
        html_body:
          description: The comment's text body formatted as html.
          example: When will these integrations be done? You all should use <b>Merge<b>.
          nullable: true
          type: string
        ticket:
          example: fb8c55b6-1cb8-4b4c-9fb6-17924231619d
          format: uuid
          nullable: true
          type: string
          x-merge-expands-to: Ticket
        is_private:
          description: Whether or not the comment is internal.
          nullable: true
          type: boolean
        remote_created_at:
          description: When the third party's comment was created.
          example: 1990-11-10T00:00:00Z
          format: date-time
          nullable: true
          type: string
        remote_data:
          items:
            $ref: '#/components/schemas/RemoteData'
          nullable: true
          readOnly: true
          type: array
        remote_was_deleted:
          readOnly: true
          type: boolean
      type: object
      x-merge-expands: '{"contact": "Contact", "ticket": "Ticket", "user": "User"}'
      x-merge-category: ticketing
    CommentEndpointRequest:
      example:
        model:
          is_private: true
          ticket: fb8c55b6-1cb8-4b4c-9fb6-17924231619d
          html_body: When will these integrations be done? You all should use <b>Merge<b>.
          remote_id: "19202938"
          contact: dde3fb16-b8eb-483d-81c4-b78100816f15
          body: When will these integrations be done? You all should use Merge.
          remote_created_at: 1990-11-10T00:00:00Z
          user: 17a54124-287f-494d-965e-3c5b330c9a68
      properties:
        model:
          $ref: '#/components/schemas/CommentRequest'
      required:
      - model
      type: object
      x-merge-category: ticketing
    CommentRequest:
      description: |-
        # The Comment Object
        ### Description
        The `Comment` object is used to represent a comment on a ticket.

        ### Usage Example
        TODO
      example:
        is_private: true
        ticket: fb8c55b6-1cb8-4b4c-9fb6-17924231619d
        html_body: When will these integrations be done? You all should use <b>Merge<b>.
        remote_id: "19202938"
        contact: dde3fb16-b8eb-483d-81c4-b78100816f15
        body: When will these integrations be done? You all should use Merge.
        remote_created_at: 1990-11-10T00:00:00Z
        user: 17a54124-287f-494d-965e-3c5b330c9a68
      properties:
        remote_id:
          description: The third-party API ID of the matching object.
          example: "19202938"
          nullable: true
          type: string
        user:
          example: 17a54124-287f-494d-965e-3c5b330c9a68
          format: uuid
          nullable: true
          type: string
        contact:
          example: dde3fb16-b8eb-483d-81c4-b78100816f15
          format: uuid
          nullable: true
          type: string
        body:
          description: The comment's text body.
          example: When will these integrations be done? You all should use Merge.
          nullable: true
          type: string
        html_body:
          description: The comment's text body formatted as html.
          example: When will these integrations be done? You all should use <b>Merge<b>.
          nullable: true
          type: string
        ticket:
          example: fb8c55b6-1cb8-4b4c-9fb6-17924231619d
          format: uuid
          nullable: true
          type: string
        is_private:
          description: Whether or not the comment is internal.
          nullable: true
          type: boolean
        remote_created_at:
          description: When the third party's comment was created.
          example: 1990-11-10T00:00:00Z
          format: date-time
          nullable: true
          type: string
      type: object
      x-merge-category: ticketing
    CommentResponse:
      example:
        warnings:
        - problem_type: UNRECOGNIZED_FIELD
          source:
            pointer: pointer
          detail: An unrecognized field, age, was passed in with request data.
          title: Unrecognized Field
        - problem_type: UNRECOGNIZED_FIELD
          source:
            pointer: pointer
          detail: An unrecognized field, age, was passed in with request data.
          title: Unrecognized Field
        model:
          is_private: true
          ticket: fb8c55b6-1cb8-4b4c-9fb6-17924231619d
          html_body: When will these integrations be done? You all should use <b>Merge<b>.
          remote_id: "19202938"
          contact: dde3fb16-b8eb-483d-81c4-b78100816f15
          id: 0958cbc6-6040-430a-848e-aafacbadf4ae
          remote_was_deleted: true
          body: When will these integrations be done? You all should use Merge.
          remote_created_at: 1990-11-10T00:00:00Z
          user: 17a54124-287f-494d-965e-3c5b330c9a68
          remote_data:
          - path: path
            data:
              key: ""
          - path: path
            data:
              key: ""
        logs:
        - log_id: 99433219-8017-4acd-bb3c-ceb23d663832
          dashboard_view: https://app.merge.dev/logs/99433219-8017-4acd-bb3c-ceb23d663832
          log_summary:
            status_code: 200
            method: POST
            url: https://harvest.greenhouse.io/v1/candidates/
        - log_id: 99433219-8017-4acd-bb3c-ceb23d663832
          dashboard_view: https://app.merge.dev/logs/99433219-8017-4acd-bb3c-ceb23d663832
          log_summary:
            status_code: 200
            method: POST
            url: https://harvest.greenhouse.io/v1/candidates/
        errors:
        - problem_type: MISSING_REQUIRED_FIELD
          source:
            pointer: pointer
          detail: custom_fields is a required field on model.
          title: Missing Required Field
        - problem_type: MISSING_REQUIRED_FIELD
          source:
            pointer: pointer
          detail: custom_fields is a required field on model.
          title: Missing Required Field
      properties:
        model:
          $ref: '#/components/schemas/Comment'
        warnings:
          items:
            $ref: '#/components/schemas/WarningValidationProblem'
          type: array
        errors:
          items:
            $ref: '#/components/schemas/ErrorValidationProblem'
          type: array
        logs:
          items:
            $ref: '#/components/schemas/DebugModeLog'
          type: array
      required:
      - errors
      - model
      - warnings
      type: object
      x-merge-category: ticketing
    Contact:
      description: |-
        # The Contact Object
        ### Description
        The `Contact` object is used to represent the customer, lead, or external user that a ticket is associated with.

        ### Usage Example
        TODO
      example:
        email_address: greg@waystar-royco.com
        remote_id: "19202938"
        name: Cousin Greg
        phone_number: "5108890293"
        details: Executive Assistant to Tom Wambsgans
        id: 17a54124-287f-494d-965e-3c5b330c9a68
        remote_was_deleted: true
        account: 28b54125-287f-494d-965e-3c5b330c9a68
        remote_data:
        - path: path
          data:
            key: ""
        - path: path
          data:
            key: ""
      properties:
        id:
          example: 17a54124-287f-494d-965e-3c5b330c9a68
          format: uuid
          readOnly: true
          type: string
        remote_id:
          description: The third-party API ID of the matching object.
          example: "19202938"
          nullable: true
          type: string
        name:
          description: The contact's name.
          example: Cousin Greg
          nullable: true
          type: string
        email_address:
          description: The contact's email address.
          example: greg@waystar-royco.com
          nullable: true
          type: string
        phone_number:
          description: The contact's phone number.
          example: "5108890293"
          nullable: true
          type: string
        details:
          description: The contact's details.
          example: Executive Assistant to Tom Wambsgans
          nullable: true
          type: string
        account:
          description: The contact's account.
          example: 28b54125-287f-494d-965e-3c5b330c9a68
          format: uuid
          nullable: true
          type: string
          x-merge-expands-to: Account
        remote_data:
          items:
            $ref: '#/components/schemas/RemoteData'
          nullable: true
          readOnly: true
          type: array
        remote_was_deleted:
          description: Indicates whether or not this object has been deleted by third
            party webhooks.
          readOnly: true
          type: boolean
      type: object
      x-merge-expands: '{"account": "Account"}'
      x-merge-category: ticketing
    DataPassthroughRequest:
      description: |-
        # The DataPassthrough Object
        ### Description
        The `DataPassthrough` object is used to send information to an otherwise-unsupported third-party endpoint.

        ### Usage Example
        Create a `DataPassthrough` to get team hierarchies from your Rippling integration.
      example:
        path: /scooters
        headers:
          EXTRA-HEADER: value
        request_format: JSON
        method: POST
        data: '{"company": "Lime", "model": "Gen 2.5"}'
        normalize_response: true
        base_url_override: base_url_override
        multipart_form_data:
        - data: SW50ZWdyYXRlIGZhc3QKSW50ZWdyYXRlIG9uY2U=
          content_type: application/pdf
          file_name: resume.pdf
          name: resume
          encoding: BASE64
        - data: SW50ZWdyYXRlIGZhc3QKSW50ZWdyYXRlIG9uY2U=
          content_type: application/pdf
          file_name: resume.pdf
          name: resume
          encoding: BASE64
      properties:
        method:
          allOf:
          - $ref: '#/components/schemas/MethodEnum'
          example: POST
        path:
          example: /scooters
          minLength: 1
          type: string
        base_url_override:
          minLength: 1
          nullable: true
          type: string
        data:
          example: '{"company": "Lime", "model": "Gen 2.5"}'
          minLength: 1
          nullable: true
          type: string
        multipart_form_data:
          description: Pass an array of `MultipartFormField` objects in here instead
            of using the `data` param if `request_format` is set to `MULTIPART`.
          items:
            $ref: '#/components/schemas/MultipartFormFieldRequest'
          nullable: true
          type: array
        headers:
          additionalProperties: {}
          description: The headers to use for the request (Merge will handle the account's
            authorization headers). `Content-Type` header is required for passthrough.
            Choose content type corresponding to expected format of receiving server.
          example:
            EXTRA-HEADER: value
          nullable: true
          type: object
        request_format:
          allOf:
          - $ref: '#/components/schemas/RequestFormatEnum'
          example: JSON
          nullable: true
        normalize_response:
          type: boolean
      required:
      - method
      - path
      type: object
      x-merge-category: ticketing
    DebugModeLog:
      example:
        log_id: 99433219-8017-4acd-bb3c-ceb23d663832
        dashboard_view: https://app.merge.dev/logs/99433219-8017-4acd-bb3c-ceb23d663832
        log_summary:
          status_code: 200
          method: POST
          url: https://harvest.greenhouse.io/v1/candidates/
      properties:
        log_id:
          example: 99433219-8017-4acd-bb3c-ceb23d663832
          type: string
        dashboard_view:
          example: https://app.merge.dev/logs/99433219-8017-4acd-bb3c-ceb23d663832
          type: string
        log_summary:
          $ref: '#/components/schemas/DebugModelLogSummary'
      required:
      - dashboard_view
      - log_id
      - log_summary
      type: object
      x-merge-sample-json: '{"log_id": "99433219-8017-4acd-bb3c-ceb23d663832", "dashboard_view":
        "https://app.merge.dev/logs/99433219-8017-4acd-bb3c-ceb23d663832", "log_summary":
[...]
