openapi: 3.0.3
info:
  contact:
    email: hello@merge.dev
    name: Merge Team
    url: https://www.merge.dev/
  description: The unified API for building rich integrations with multiple Ticketing
    platforms.
  title: Merge Ticketing API
  version: "1.0"
servers:
- description: Production
  url: https://api.merge.dev/api/ticketing/v1
- description: Sandbox
  url: https://api-sandbox.merge.dev/api/ticketing/v1
paths:
  /account-details:
    get:
      description: Get details for a linked account.
      operationId: account_details_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
      security:
      - tokenAuth: []
      tags:
      - account-details
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /account-token/{public_token}:
    get:
      description: Returns the account token for the end user with the provided public
        token.
      operationId: account_token_retrieve
      parameters:
      - explode: false
        in: path
        name: public_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountToken'
      security:
      - tokenAuth: []
      tags:
      - account-token
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /accounts:
    get:
      description: Returns a list of `Account` objects.
      operationId: accounts_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccountList'
      security:
      - tokenAuth: []
      tags:
      - accounts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /accounts/{id}:
    get:
      description: Returns an `Account` object with the given `id`.
      operationId: accounts_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      security:
      - tokenAuth: []
      tags:
      - accounts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /attachments:
    get:
      description: Returns a list of `Attachment` objects.
      operationId: attachments_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: If provided, will only return comments for this ticket.
        examples:
          TicketId:
            summary: ticket_id
        explode: true
        in: query
        name: ticket_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAttachmentList'
      security:
      - tokenAuth: []
      tags:
      - attachments
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    post:
      description: Creates an `Attachment` object with the given values.
      operationId: attachments_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketingAttachmentEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TicketingAttachmentEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TicketingAttachmentEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketingAttachmentResponse'
      security:
      - tokenAuth: []
      tags:
      - attachments
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /attachments/{id}:
    get:
      description: Returns an `Attachment` object with the given `id`.
      operationId: attachments_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
      security:
      - tokenAuth: []
      tags:
      - attachments
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /attachments/meta/post:
    get:
      description: Returns metadata for `TicketingAttachment` POSTs.
      operationId: attachments_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - attachments
      x-merge-meta-post: META_POST
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /available-actions:
    get:
      description: Returns a list of models and actions available for an account.
      operationId: available_actions_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableActions'
      security:
      - tokenAuth: []
      tags:
      - available-actions
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /collections:
    get:
      description: Returns a list of `Collection` objects.
      operationId: collections_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return collections of the given type.
        explode: true
        in: query
        name: collection_type
        required: false
        schema:
          enum:
          - LIST
          - PROJECT
          nullable: true
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: If provided, will only return collections whose parent collection
          matches the given id.
        examples:
          ParentCollectionId:
            summary: parent_collection_id
        explode: true
        in: query
        name: parent_collection_id
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesCollectionType:
            summary: Original Enum Values Collection_type
            value: collection_type
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - collection_type
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesCollectionType:
            summary: Original Enum Values Collection_type
            value: collection_type
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - collection_type
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCollectionList'
      security:
      - tokenAuth: []
      tags:
      - collections
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /collections/{id}:
    get:
      description: Returns a `Collection` object with the given `id`.
      operationId: collections_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesCollectionType:
            summary: Original Enum Values Collection_type
            value: collection_type
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - collection_type
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesCollectionType:
            summary: Original Enum Values Collection_type
            value: collection_type
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - collection_type
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
      security:
      - tokenAuth: []
      tags:
      - collections
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /collections/{parent_id}/users:
    get:
      description: Returns a list of `User` objects.
      operationId: collections_users_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - explode: false
        in: path
        name: parent_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUserList'
      security:
      - tokenAuth: []
      tags:
      - collections
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /comments:
    get:
      description: Returns a list of `Comment` objects.
      operationId: comments_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: If provided, will only return comments for this ticket.
        examples:
          TicketId:
            summary: ticket_id
        explode: true
        in: query
        name: ticket_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCommentList'
      security:
      - tokenAuth: []
      tags:
      - comments
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    post:
      description: Creates a `Comment` object with the given values.
      operationId: comments_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CommentEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CommentEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentResponse'
      security:
      - tokenAuth: []
      tags:
      - comments
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /comments/{id}:
    get:
      description: Returns a `Comment` object with the given `id`.
      operationId: comments_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
      security:
      - tokenAuth: []
      tags:
      - comments
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /comments/meta/post:
    get:
      description: Returns metadata for `Comment` POSTs.
      operationId: comments_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - comments
      x-merge-meta-post: META_POST
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /common-model-scopes:
    get:
      description: Fetch the configuration of what data is saved by Merge when syncing.
        Common model scopes are set as a default across all linked accounts, but can
        be updated to have greater granularity per account.
      operationId: common_model_scopes_retrieve
      parameters:
      - description: ID of specific linked account to fetch
        explode: true
        in: query
        name: linked_account_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopes'
      security:
      - tokenAuth: []
      tags:
      - common-model-scopes
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    post:
      description: Update the configuration of what data is saved by Merge when syncing.
        Common model scopes are set as a default across all linked accounts, but can
        be updated to have greater granularity per account.
      operationId: common_model_scopes_create
      parameters:
      - description: ID of specific linked account to fetch
        explode: true
        in: query
        name: linked_account_id
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommonModelScopesUpdateSerializer'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CommonModelScopesUpdateSerializer'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CommonModelScopesUpdateSerializer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopes'
      security:
      - tokenAuth: []
      tags:
      - common-model-scopes
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /contacts:
    get:
      description: Returns a list of `Contact` objects.
      operationId: contacts_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedContactList'
      security:
      - tokenAuth: []
      tags:
      - contacts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /contacts/{id}:
    get:
      description: Returns a `Contact` object with the given `id`.
      operationId: contacts_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
      security:
      - tokenAuth: []
      tags:
      - contacts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /delete-account:
    post:
      description: Delete a linked account.
      operationId: delete_account_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: No response body
      security:
      - tokenAuth: []
      tags:
      - delete-account
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /generate-key:
    post:
      description: Create a remote key.
      operationId: generate_key_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      security:
      - tokenAuth: []
      tags:
      - generate-key
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /issues:
    get:
      description: Gets issues.
      operationId: issues_list
      parameters:
      - explode: true
        in: query
        name: account_token
        required: false
        schema:
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: If included, will only include issues whose most recent action
          occurred before this time
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: end_user_organization_name
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return issues whose first incident time
          was after this datetime.
        explode: true
        in: query
        name: first_incident_time_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return issues whose first incident time
          was before this datetime.
        explode: true
        in: query
        name: first_incident_time_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If True, will include muted issues
        explode: true
        in: query
        name: include_muted
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: integration_name
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return issues whose first incident time
          was after this datetime.
        explode: true
        in: query
        name: last_incident_time_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return issues whose first incident time
          was before this datetime.
        explode: true
        in: query
        name: last_incident_time_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: If included, will only include issues whose most recent action
          occurred after this time
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - ONGOING
          - RESOLVED
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedIssueList'
      security:
      - tokenAuth: []
      tags:
      - issues
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /issues/{id}:
    get:
      description: Get a specific issue.
      operationId: issues_retrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
      security:
      - tokenAuth: []
      tags:
      - issues
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /link-token:
    post:
      description: Creates a link token to be used when linking a new end user.
      operationId: link_token_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndUserDetailsRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EndUserDetailsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EndUserDetailsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkToken'
      security:
      - tokenAuth: []
      tags:
      - link-token
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /linked-accounts:
    get:
      description: List linked accounts for your organization.
      operationId: linked_accounts_list
      parameters:
      - explode: true
        in: query
        name: category
        required: false
        schema:
          enum:
          - accounting
          - ats
          - crm
          - hris
          - mktg
          - ticketing
          nullable: true
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return linked accounts associated with
          the given email address.
        explode: true
        in: query
        name: end_user_email_address
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return linked accounts associated with
          the given organization name.
        explode: true
        in: query
        name: end_user_organization_name
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return linked accounts associated with
          the given origin ID.
        explode: true
        in: query
        name: end_user_origin_id
        required: false
        schema:
          type: string
        style: form
      - description: Comma-separated list of EndUser origin IDs, making it possible
          to specify multiple EndUsers at once.
        explode: true
        in: query
        name: end_user_origin_ids
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Comma-separated list of LinkedAccount IDs, making it possible
          to specify multiple LinkedAccounts at once.
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: If `true`, will include complete production duplicates of the
          account specified by the `id` query parameter in the response. `id` must
          be for a complete production linked account.
        explode: true
        in: query
        name: include_duplicates
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return linked accounts associated with
          the given integration name.
        explode: true
        in: query
        name: integration_name
        required: false
        schema:
          type: string
        style: form
      - description: If included, will only include test linked accounts. If not included,
          will only include non-test linked accounts.
        explode: true
        in: query
        name: is_test_account
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: 'Filter by status. Options: `COMPLETE`, `INCOMPLETE`, `RELINK_NEEDED`'
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccountDetailsAndActionsList'
      security:
      - tokenAuth: []
      tags:
      - linked-accounts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /passthrough:
    post:
      description: Pull data from an endpoint not currently supported by Merge.
      operationId: passthrough_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
      security:
      - tokenAuth: []
      tags:
      - passthrough
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /projects:
    get:
      description: Returns a list of `Project` objects.
      operationId: projects_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProjectList'
      security:
      - tokenAuth: []
      tags:
      - projects
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /projects/{id}:
    get:
      description: Returns a `Project` object with the given `id`.
      operationId: projects_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
      security:
      - tokenAuth: []
      tags:
      - projects
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /projects/{parent_id}/users:
    get:
      description: Returns a list of `User` objects.
      operationId: projects_users_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - explode: false
        in: path
        name: parent_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUserList'
      security:
      - tokenAuth: []
      tags:
      - projects
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /regenerate-key:
    post:
      description: Exchange remote keys.
      operationId: regenerate_key_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      security:
      - tokenAuth: []
      tags:
      - regenerate-key
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /selective-sync/configurations:
    get:
      description: Get a linked account's selective syncs.
      operationId: selective_sync_configurations_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                StartDateConditionExample:
                  summary: Employees that started on or after January 1st, 2022
                  value:
                    linked_account_conditons:
                    - condition_schema_id: 123e4567-e89b-12d3-a456-426655440000
                      common_model: hris.Employee
                      native_name: Started At
                      field_name: start_date
                      operator: GREATER_THAN_OR_EQUAL
                      value: 2022-01-01T00:00:00Z
              schema:
                items:
                  $ref: '#/components/schemas/LinkedAccountSelectiveSyncConfiguration'
                type: array
      security:
      - tokenAuth: []
      tags:
      - selective-sync
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    put:
      description: Replace a linked account's selective syncs.
      operationId: selective_sync_configurations_update
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              StartDateConditionRequestExample:
                summary: Employees that started on or after January 1st, 2022
                value:
                  linked_account_conditons:
                  - condition_schema_id: 123e4567-e89b-12d3-a456-426655440000
                    operator: GREATER_THAN_OR_EQUAL
                    value: 2022-01-01T00:00:00Z
            schema:
              $ref: '#/components/schemas/LinkedAccountSelectiveSyncConfigurationListRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                StartDateConditionExample:
                  summary: Employees that started on or after January 1st, 2022
                  value:
                    linked_account_conditons:
                    - condition_schema_id: 123e4567-e89b-12d3-a456-426655440000
                      common_model: hris.Employee
                      native_name: Started At
                      field_name: start_date
                      operator: GREATER_THAN_OR_EQUAL
                      value: 2022-01-01T00:00:00Z
              schema:
                items:
                  $ref: '#/components/schemas/LinkedAccountSelectiveSyncConfiguration'
                type: array
      security:
      - tokenAuth: []
      tags:
      - selective-sync
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /selective-sync/meta:
    get:
      description: Get metadata for the conditions available to a linked account.
      operationId: selective_sync_meta_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: common_model
        required: false
        schema:
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                PaginatedConditionSchemaListExample:
                  summary: Employees that started on or after January 1st, 2022
                  value:
                    previous: null
                    next: null
                    results:
                    - id: 123e4567-e89b-12d3-a456-426655440000
                      common_model: hris.Employee
                      native_name: Started At
                      field_name: start_date
                      is_unique: true
                      condition_type: DATE_TIME
                      operators:
                      - operator: GREATER_THAN_OR_EQUAL
                        is_unique: true
                      - operator: LESS_THAN_OR_EQUAL
                        is_unique: true
              schema:
                $ref: '#/components/schemas/PaginatedConditionSchemaList'
      security:
      - tokenAuth: []
      tags:
      - selective-sync
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /sync-status:
    get:
      description: 'Get syncing status. Possible values: `DISABLED`, `DONE`, `FAILED`,
        `PAUSED`, `SYNCING`'
      operationId: sync_status_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSyncStatusList'
      security:
      - tokenAuth: []
      tags:
      - sync-status
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /sync-status/resync:
    post:
      description: Force re-sync of all models. This is only available for organizations
        on Merge's Grow and Expand plans.
      operationId: sync_status_resync_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SyncStatus'
                type: array
      security:
      - tokenAuth: []
      tags:
      - force-resync
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /tags:
    get:
      description: Returns a list of `Tag` objects.
      operationId: tags_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTagList'
      security:
      - tokenAuth: []
      tags:
      - tags
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /tags/{id}:
    get:
      description: Returns a `Tag` object with the given `id`.
      operationId: tags_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
      security:
      - tokenAuth: []
      tags:
      - tags
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /teams:
    get:
      description: Returns a list of `Team` objects.
      operationId: teams_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTeamList'
      security:
      - tokenAuth: []
      tags:
      - teams
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /teams/{id}:
    get:
      description: Returns a `Team` object with the given `id`.
      operationId: teams_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
      security:
      - tokenAuth: []
      tags:
      - teams
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /tickets:
    get:
      description: Returns a list of `Ticket` objects.
      operationId: tickets_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return tickets for this account.
        examples:
          AccountId:
            summary: account_id
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return tickets assigned to the assignee_ids;
          multiple assignee_ids can be separated by commas.
        explode: true
        in: query
        name: assignee_ids
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return tickets assigned to the collection_ids;
          multiple collection_ids can be separated by commas.
        explode: true
        in: query
        name: collection_ids
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return tickets completed after this datetime.
        explode: true
        in: query
        name: completed_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return tickets completed before this datetime.
        explode: true
        in: query
        name: completed_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return tickets for this contact.
        examples:
          ContactId:
            summary: contact_id
        explode: true
        in: query
        name: contact_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return tickets due after this datetime.
        explode: true
        in: query
        name: due_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return tickets due before this datetime.
        explode: true
        in: query
        name: due_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include all remote fields, including fields that Merge
          did not map to common models, in a normalized format.
        explode: true
        in: query
        name: include_remote_fields
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: If provided, will only return sub tickets of the parent_ticket_id.
        examples:
          ParentTicketId:
            summary: parent_ticket_id
        explode: true
        in: query
        name: parent_ticket_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return tickets of this priority.
        explode: true
        in: query
        name: priority
        required: false
        schema:
          enum:
          - HIGH
          - LOW
          - NORMAL
          - URGENT
          nullable: true
          type: string
        style: form
      - description: If provided, will only return tickets for this project.
        examples:
          ProjectId:
            summary: project_id
        explode: true
        in: query
        name: project_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return tickets created in the third party
          platform after this datetime.
        explode: true
        in: query
        name: remote_created_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return tickets created in the third party
          platform before this datetime.
        explode: true
        in: query
        name: remote_created_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesPriority,Status,TicketType:
            summary: Original Enum Values Priority, Status, Ticket_type
            value: priority,status,ticket_type
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - priority
          - priority,status
          - priority,status,ticket_type
          - priority,ticket_type
          - status
          - status,ticket_type
          - ticket_type
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: If provided, will only return tickets updated in the third party
          platform after this datetime.
        explode: true
        in: query
        name: remote_updated_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return tickets updated in the third party
          platform before this datetime.
        explode: true
        in: query
        name: remote_updated_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesPriority,Status,TicketType:
            summary: Original Enum Values Priority, Status, Ticket_type
            value: priority,status,ticket_type
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - priority
          - priority,status
          - priority,status,ticket_type
          - priority,ticket_type
          - status
          - status,ticket_type
          - ticket_type
          type: string
        style: form
      - description: If provided, will only return tickets of this status.
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - CLOSED
          - IN_PROGRESS
          - ON_HOLD
          - OPEN
          nullable: true
          type: string
        style: form
      - description: If provided, will only return tickets matching the tags; multiple
          tags can be separated by commas.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return tickets of this type.
        explode: true
        in: query
        name: ticket_type
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTicketList'
      security:
      - tokenAuth: []
      tags:
      - tickets
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    post:
      description: Creates a `Ticket` object with the given values.
      operationId: tickets_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TicketEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TicketEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResponse'
      security:
      - tokenAuth: []
      tags:
      - tickets
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /tickets/{id}:
    get:
      description: Returns a `Ticket` object with the given `id`.
      operationId: tickets_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include all remote fields, including fields that Merge
          did not map to common models, in a normalized format.
        explode: true
        in: query
        name: include_remote_fields
        required: false
        schema:
          type: boolean
        style: form
      - description: Deprecated. Use show_enum_origins.
        examples:
          OriginalEnumValuesPriority,Status,TicketType:
            summary: Original Enum Values Priority, Status, Ticket_type
            value: priority,status,ticket_type
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - priority
          - priority,status
          - priority,status,ticket_type
          - priority,ticket_type
          - status
          - status,ticket_type
          - ticket_type
          type: string
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          OriginalEnumValuesPriority,Status,TicketType:
            summary: Original Enum Values Priority, Status, Ticket_type
            value: priority,status,ticket_type
        explode: true
        in: query
        name: show_enum_origins
        required: false
        schema:
          enum:
          - priority
          - priority,status
          - priority,status,ticket_type
          - priority,ticket_type
          - status
          - status,ticket_type
          - ticket_type
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
      security:
      - tokenAuth: []
      tags:
      - tickets
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    patch:
      description: Updates a `Ticket` object with the given `id`.
      operationId: tickets_partial_update
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedTicketEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedTicketEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedTicketEndpointRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResponse'
      security:
      - tokenAuth: []
      tags:
      - tickets
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /tickets/{parent_id}/collaborators:
    get:
      description: Returns a list of `User` objects.
      operationId: tickets_collaborators_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - explode: false
        in: path
        name: parent_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUserList'
      security:
      - tokenAuth: []
      tags:
      - tickets
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /tickets/meta/patch/{id}:
    get:
      description: Returns metadata for `Ticket` PATCHs.
      operationId: tickets_meta_patch_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - tickets
      x-merge-meta-patch: META_PATCH
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /tickets/meta/post:
    get:
      description: Returns metadata for `Ticket` POSTs.
      operationId: tickets_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - tickets
      x-merge-meta-post: META_POST
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /tickets/remote-field-classes:
    get:
      description: Returns a list of `RemoteFieldClass` objects.
      operationId: tickets_remote_field_classes_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include all remote fields, including fields that Merge
          did not map to common models, in a normalized format.
        explode: true
        in: query
        name: include_remote_fields
        required: false
        schema:
          type: boolean
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRemoteFieldClassList'
      security:
      - tokenAuth: []
      tags:
      - tickets
      x-endpoint-availability: ENDPOINT_AVAILABILITY_CLOSED_BETA
  /users:
    get:
      description: Returns a list of `User` objects.
      operationId: users_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return users with emails equal to this
          value (case insensitive).
        explode: true
        in: query
        name: email_address
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUserList'
      security:
      - tokenAuth: []
      tags:
      - users
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /users/{id}:
    get:
      description: Returns a `User` object with the given `id`.
      operationId: users_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      security:
      - tokenAuth: []
      tags:
      - users
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
  /webhook-receivers:
    get:
      description: Returns a list of `WebhookReceiver` objects.
      operationId: webhook_receivers_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/WebhookReceiver'
                type: array
      security:
      - tokenAuth: []
      tags:
      - webhook-receivers
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
    post:
      description: Creates a `WebhookReceiver` object with the given values.
      operationId: webhook_receivers_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookReceiverRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/WebhookReceiverRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/WebhookReceiverRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookReceiver'
      security:
      - tokenAuth: []
      tags:
      - webhook-receivers
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
components:
  schemas:
    Account:
      description: |-
        # The Account Object
        ### Description
        The `Account` object is used to represent the account that a ticket is associated with.

        The account is a company that may be a customer. This does not represent the company that is receiving the ticket.

        ### Usage Example
        TODO
      example:
        field_mappings:
          organization_defined_targets:
            custom_key: custom_value
          linked_account_defined_targets:
            custom_key: custom_value
        remote_id: "19202938"
        name: Waystar Royco
        domains:
        - waystar-royco.com
        - royco.com
        id: 17a54124-287f-494d-965e-3c5b330c9a68
        remote_was_deleted: true
        remote_data:
        - path: path
          data:
            key: ""
        - path: path
          data:
            key: ""
      properties:
        id:
          example: 17a54124-287f-494d-965e-3c5b330c9a68
          format: uuid
          readOnly: true
          type: string
        remote_id:
          description: The third-party API ID of the matching object.
          example: "19202938"
          nullable: true
          type: string
        name:
          description: The account's name.
          example: Waystar Royco
          nullable: true
          type: string
        domains:
          description: The account's domain names.
          example:
          - waystar-royco.com
          - royco.com
          items:
            nullable: true
            type: string
          nullable: true
          type: array
        remote_was_deleted:
          description: Indicates whether or not this object has been deleted by third
            party webhooks.
          type: boolean
        field_mappings:
          additionalProperties: {}
          example:
            organization_defined_targets:
              custom_key: custom_value
            linked_account_defined_targets:
              custom_key: custom_value
          nullable: true
          readOnly: true
          type: object
        remote_data:
          items:
            $ref: '#/components/schemas/RemoteData'
          nullable: true
          readOnly: true
          type: array
      type: object
      x-merge-expands: '{"owner": "User"}'
      x-merge-category: ticketing
    AccountDetails:
      example:
        integration: BambooHR
        end_user_organization_name: Waystar Royco
        end_user_email_address: kendall.roy@waystar-royco.com
        id: 0496d4c2-42e6-4072-80b3-7b69bfdc76fd
        category: hris
        is_duplicate: true
        end_user_origin_id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        integration_slug: bamboohr
        status: COMPLETE
        webhook_listener_url: https://api.merge.dev/api/integrations/webhook-listener/7fc3mee0UW8ecV4
      properties:
        id:
          example: 0496d4c2-42e6-4072-80b3-7b69bfdc76fd
          format: uuid
          readOnly: true
          type: string
        integration:
          example: BambooHR
          readOnly: true
          type: string
        integration_slug:
          example: bamboohr
          readOnly: true
[...]
